/test/machine/hamiltonian/visual_graphs
/test/machine/components/timeline/data
/test/machine/tsp_disk/disk
/test/machine/tsp_disk/disk2
/test/machine/tsp_disk/disk3

/test_build_grafs/data
/test_build_grafs_12/data
/test_hamiltonian12/data
